/* Write your code here. */
* {
  font-family: "Roboto";
}
.bg-container {
  background-color: #0f172a;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageStyle {
  width: 200px;
  height: 200px;
}
.headingEl {
  color: #f8fafc;
  font-size: 45px;
}
